/* Reset some default styles */
body, h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-task-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.textarea-field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.kanban-board {
  display: flex;
  justify-content: space-between;
}

.task-column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  padding: 20px;
}

.task-column h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.task-card {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.task-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.task-card-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-button, .delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}
