* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(236, 232, 203);
}

.container {
  margin: 0 auto;
  padding: 30px;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #cd7700; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  text-decoration: underline;
}

.add-task-form {
  background-color: #c0bfae;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(189, 131, 131, 0.1);
}

.add-task-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.textarea-field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.task-column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  padding: 20px;
}

.task-column h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.task-card {
  max-width: 400px;
  min-height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.task-card h3 {
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: rgb(0, 38, 207);
  text-transform: uppercase;
}

.task-card p {
  font-size: 14px;
  margin-bottom: 15px;
  color: rgb(14, 3, 3);
  text-transform: capitalize;
}

.task-card-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

/* NavBar.css */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #db9436;
  padding: 20px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e1d2b0;
}

